@media (max-width: 599px) {
  .login-sm {
    box-shadow: none !important;
  }
}
@media (min-width: 600px) {
  .top-padding{
    padding-top: 15%;
  }
}
md-backdrop.md-opaque.ng-enter {
  opacity: .48;
}
