<div layout="column" layout-fill="">
  <!-- Header -->
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools" layout-align="center center">My Doctor</div>
  </md-toolbar>
  <!-- / Header -->


  <!-- START PAGE-CONTAINER -->
  <div layout="column" flex class="top-padding">

    <div flex layout="column">
      <div layout="row" layout-align="center center" flex>
        <div class="login-sm" class="md-whiteframe" md-whiteframe="5" layout="column" layout-align="space-around" flex
             flex-gt-xs="66" flex-gt-sm="50"
             flex-gt-md="33" flex-gt-lg="25">
          <div ui-view flex>

          </div>
          </divmd-whiteframe>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTAINER -->
</div>
