<section layout="row" layout-align="center center">
  <div layout="column" layout-fill class="md-padding md-margin">
    <md-whiteframe class="md-whiteframe-1dp">
      <nvd3 id="dashPieGraph" options="lineOptions" data="lineData"></nvd3>
    </md-whiteframe>
  </div>
</section>
<section layout-xs="column" layout-gt-xs="row" layout-align="center center">
  <div layout-gt-xs="column" layout-xs="column" layout-fill class="md-padding md-margin">
    <md-whiteframe class="md-whiteframe-1dp">
      <nvd3 id="dashPieGraph1" options="options" data="data"></nvd3>
    </md-whiteframe>
  </div>
  <div layout-gt-xs="column" layout-xs="column" layout-fill class="md-padding md-margin">
    <md-whiteframe class="md-whiteframe-1dp">
      <nvd3 id="PieGraph1" options="line1Options" data="line1Data"></nvd3>
    </md-whiteframe>
  </div>
</section>
